<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grüni</title>

  <link rel="stylesheet" href="assets/style.css">

  <!-- AFrame & AR.js -->
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <!-- <script src="https://raw.githack.com/AR-js-org/AR.js/3.1.0/aframe/build/aframe-ar.js"></script> -->

  <!-- Vue.js & own components -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="assets/components/button.js"></script>
  <script src="assets/components/dialog.js"></script>
  <script src="assets/components/hygroscope.js"></script>
  <script src="assets/components/plant.js"></script>
  <script src="assets/components/popup.js"></script>
</head>
<body>
  <div id="root">
    <a-scene embedded vr-mode-ui="enabled: false">
      <a-assets>
        <img id="hiro" src="assets/img/hiro.png">
        <img id="plante-normal" src="assets/img/plante-normal.png">
        <img id="plante-shame"  src="assets/img/plante-shame.png">
      </a-assets>

      <a-image src="#hiro" rotation="-90"></a-image>
      <a-sky color="#aaaaff"></a-sky>

      <!-- camera and cursor for click events -->
      <a-entity camera position="0 2 4" cursor="rayOrigin: mouse"
        raycaster="far: 1000; interval: 10; objects: .clickable"></a-entity>

      <!-- <a-marker> -->

      <a-entity id="topbar" position="0 5 -2" v-if="topbar.show">
        <a-button position="-3.5 0 0" :click="topbar.light.click" :text="'Helligkeit: ' +     topbar.light.value+'lx'"></a-button>
        <a-button position=" 0.0 0 0" :click="topbar.air.click"   :text="'Luftfeuchtigkeit: '+topbar.air.value + '%'"></a-button>
        <a-button position=" 3.5 0 0" :click="topbar.temp.click"  :text="'Temperatur: ' +     topbar.temp.value+ ' Grad'"></a-button>
      </a-entity>

      <a-hygroscope v-if="hygro.show" position="0 1.5 0" :click="hygro.click"
        :fluid-level="hygro.fill" :optimum-fluid-level="hygro.optFill"
      ></a-hygroscope>

      <a-plant v-for="plant of plants"
        :click-pot="plant.clickPot" :show-options="plant.showOptions"
        :options="plant.options" :position="plant.position"
      ></a-plant>

      <a-dialog position="0 0.1 0.5" :text="dialog.content" :status="dialog.status"></a-dialog>
      <!-- </a-marker> -->
    </a-scene>

    <popup :content="popup.content" :exit="popup.exit"></popup>
  </div>

  <script src="assets/main.js"></script>
</body>
</html>