* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
}

html,body,#root {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*----------------------------------------------------------------------------*/

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1 {font-size: 2.0em}
h2 {font-size: 1.6em}
h3 {font-size: 1.2em}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

small, sub, sup {
    font-size: .8em;
}

/*----------------------------------------------------------------------------*/

.popup {
    position: fixed;
    top: 2em; bottom: 5em;
    left: .5em; right: .5em;
    max-width: 800px;
    margin: auto;
}

.popup > p {
    color: #fffc;
    font-size: 3em;
    text-align: right;
}

.popup > div {
    background-color: #fff;
    border-radius: .5em;
    padding: .5em;
    height: calc(100% - 3.6em);
    width: 100%;
    overflow: auto;
}