* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
}

html,body,#root {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#popup {
    background-color: #fff;
    border-radius: .5em;
    padding: .5em;
    position: fixed;
    top: 20%; bottom: 0;
    left: 5%; right: 5%;
}

#popup > div {
    height: 100%;
    width: 100%;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}